.wrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;

  .show {
    display: flex;
    align-items: center;
    column-gap: 6px;

    p:last-child {
      margin-left: 9px;
    }
  }
}
