.root {
  width: 100%;
  line-height: var(--line-height-m);
  color: var(--light-900);

  &.withError {
    color: var(--danger-500);
  }

  &.disabled {
    color: var(--dark-100);
    cursor: not-allowed;

    .label {
      color: var(--dark-100);
    }
  }
}

.label {
  font-size: var(--font-size-s);
  color: var(--light-900);
}

.inputContainer {
  position: relative;
  width: 100%;

  &:has(.input:active) {
    .leftIcon {
      color: var(--light-100);
    }
  }
}

.input {
  width: 100%;
  padding: 6px 12px;
  font-size: var(--font-size-m);
  box-shadow: 0 0 0 1px var(--dark-100);
  border: none;
  border-radius: 2px;
  background-color: transparent;
  color: inherit;
  outline: none;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    color 0.2s ease;

  &.withLeftIcon {
    padding-left: 41px;
  }

  &.withRightIcon {
    padding-right: 41px;
  }

  &:hover:not(:focus, :disabled) {
    box-shadow: 0 0 0 1px var(--light-900);
  }

  &:active:not(:disabled) {
    color: var(--light-100);
    box-shadow: 0 0 0 1px var(--light-100);
  }

  &:focus-visible {
    color: var(--light-100);
    box-shadow: 0 0 0 2px var(--primary-500);
  }

  &:disabled {
    cursor: not-allowed;
  }

  .root.withError & {
    box-shadow: 0 0 0 1px var(--danger-500);
    color: var(--light-100);

    &:hover {
      box-shadow: 0 0 0 1px var(--danger-500);
    }
  }

  &[type='search']::-webkit-search-cancel-button {
    appearance: none;
  }

  &[type='search'] {
    appearance: textfield;
  }

  &:autofill {
    background-color: transparent !important;
    color: var(--light-900) !important;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    filter: none;
    color: var(--light-900) !important;
    transition:
      background-color 5000s ease-in-out 0s,
      color 5000s ease-in-out 0s;
  }
}

.leftIconColorWhite {
  color: var(--light-100);
}

.leftIcon,
.rightIcon {
  width: 20px;
  position: absolute;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
}

.leftIcon {
  margin-left: 12px;
}

.rightIcon {
  right: 10px;
  top: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  pointer-events: auto;
  color: var(--light-100);

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    opacity: 0.8;
  }

  &:disabled {
    pointer-events: none;
    color: var(--dark-100);
  }
}

.errorText {
  font-size: var(--font-size-s);
  color: var(--danger-500);
}
