.scrollArea {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.viewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.scrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  background: #333;
  border-radius: 3px;
  transition: background 160ms ease-out;

  &:hover {
    background: #8d9094;
  }

  &--vertical {
    width: 4px;
    padding: 2px 0;
  }

  &--horizontal {
    flex-direction: column;
    height: 4px;
    padding: 0 2px;
  }
}

.thumb {
  flex: 1;
  background: #333;
  border-radius: 3px;
  position: relative;

  &:hover {
    background: #8d9094;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 4px;
    min-height: 47px;
  }
}
