.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-size: 14px;
  line-height: 171%;
  color: var(--light-900);
  user-select: none;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 6px 40px 6px 12px;
  border: 1px solid var(--dark-100);
  border-radius: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--light-100);
  transition: all 0.3s ease;
  outline: none;

  &::placeholder {
    color: var(--light-900);
  }

  &:active {
    box-shadow: 0 0 0 1px var(--light-100);
  }

  &:disabled {
    box-shadow: 0 0 0 1px var(--dark-100);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--primary-700);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: 0 0 0 2px var(--light-900);
    }
  }
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
