.root {
  width: 100%;
  height: 100%;
  background-color: var(--light-900);
  animation: pulse 2s ease-in-out infinite;
  border-radius: 2px;

  @keyframes pulse {
    0% {
      opacity: 0.25;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 0.25;
    }
  }
}
