.card {
  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  border-radius: 2px;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.2),
    0px 1px 2px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);
}
