.popoverContent {
  outline: 1px solid var(--dark-100);
  background-color: var(--dark-500);
  padding: 12px;

  // padding: 12px 12px 0;
  width: fit-content;

  // max-width: 144px;
  transform-origin: var(--radix-popover-content-transform-origin);
  animation: scaleIn 0.5s ease-out;
  z-index: 1001;

  & > ul {
    :hover {
      color: var(--primary-500);
    }

    :active {
      color: var(--primary-100);
    }
  }

  & > ul > li {
    display: flex;
    gap: 12px;
  }

  & ul > li:first-child {
    padding-bottom: 12px;
  }

  & ul > li:nth-child(n + 2) {
    padding-bottom: 12px;
  }

  & ul > li:last-child {
    padding-bottom: 0;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.showMore {
  color: white;
}
