.overlay {
  background-color: rgb(0 0 0 / 50%);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1000;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-300);
  border: 1px solid var(--dark-100);
  border-radius: 2px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
  width: 90vw;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1001;

  &--sm {
    max-width: 378px;
  }

  &--md {
    max-width: 492px;
  }

  &--lg {
    max-width: 644px;
  }

  &--xl {
    max-width: 972px;
  }
}

.body {
  font-size: var(--font-size-m);
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}

.closeButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ligth-100);
  flex-shrink: 0;

  &:hover {
    border-radius: 50%;
    background-color: rgb(255 255 255 / 10%);
  }

  &:focus-visible {
    border-radius: 50%;
    outline: 1px solid #06f;
    outline-offset: 2px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--dark-100);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
