.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 24px;
  flex-shrink: 0;
}

.title {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.iconButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-100);
  flex-shrink: 0;

  &:hover {
    border-radius: 50%;
    background-color: rgb(255 255 255 / 10%);
  }

  &:focus-visible {
    border-radius: 50%;
    outline: 1px solid #06f;
    outline-offset: 2px;
  }
}
