._root_18iea_1{width:100%;height:100%;background-color:var(--light-900);animation:_pulse_18iea_1 2s ease-in-out infinite;border-radius:2px}@keyframes _pulse_18iea_1{0%{opacity:.25}50%{opacity:.5}to{opacity:.25}}
