.triggerList {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  &[data-orientation='vertical'] {
    flex-direction: column;
  }

  &[data-orientation='horizontal'] {
    flex-direction: row;
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 6px;
    width: 100%;
    height: 2px;
    background: var(--dark-100);
    border: none;
    transform: translateX(-50%);
  }
}

.trigger {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  padding: 6px 24px;
  color: var(--dark-100);
  background: transparent;
  position: relative;
  cursor: pointer;
  display: grid;
  place-items: center;
  border: 2px solid transparent;
  outline: none;
  flex: 1 1 auto;
  transition: all 0.3s ease-in-out;

  span {
    position: relative;
    z-index: 2;
  }

  &:active {
    background: var(--primary-100);
    opacity: 0.15;
  }

  &:hover {
    background: rgb(var(--primary-900-rgb), 0.15);
  }

  &:focus-visible {
    //    box-shadow: inset 0 0 0 2px var(--primary-700);
    &::after {
      content: '';
      position: absolute;
      inset: 2px;
      border-radius: 2px;
      border: 2px solid var(--primary-700);
      pointer-events: none;
    }
  }

  &[data-disabled] {
    //    color: var(--primary-900);
    color: var(--dark-300);
    cursor: default;

    &::before {
      //      background: var(--primary-900);
      background: var(--dark-300);
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: transparent;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  &[data-state='active'] {
    color: var(--primary-500);

    &::before {
      background: var(--primary-500);
      animation: tabMovies 0.5s ease-in-out;
    }
  }
}

.content {
  opacity: 0;
  transform: translateY(1px);
  transition: all 0.5s ease;
  display: block;

  &[data-state='active'] {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tabMovies {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
