@import 'overlayscrollbars/overlayscrollbars.css';

.os-theme-custom {
  --os-size: 10px;
  --os-handle-bg: var(--dark-300);
  --os-handle-bg-hover: var(--light-900);
  --os-handle-bg-active: rgb(255 255 255 / 66%);
  --os-padding-axis: 5px;
  --os-handle-border-radius: 3px;
  --os-padding-perpendicular: 5px;
  --os-handle-perpendicular-size: 4px;
  --os-handle-perpendicular-size-hover: 8px;
  --os-handle-perpendicular-size-active: 8px;
}

.os-theme-custom-manager {
  --os-size: 10px;
  --os-handle-bg: var(--light-900);
  --os-handle-bg-hover: var(--light-900);
  --os-handle-bg-active: rgb(255 255 255 / 66%);
  --os-padding-axis: 10px;
  --os-handle-border-radius: 3px;
  --os-padding-perpendicular: 3px;
  --os-handle-perpendicular-size: 4px;
  --os-handle-perpendicular-size-hover: 4px;
  --os-handle-perpendicular-size-active: 4px;
}
